{% extends "authentication/base.html" %}

{% block head %}
    <title>Main Page</title>
    <style>
        .link-offset-2 {
            color: #000000;
}
    </style>
{% endblock %}


 {% block body%}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Alex's main</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                  <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Languages</a>
                </li>
                  <li class="nav-item">
                      <div class="dropdown">
                          <form class="d-flex" action="{% url 'authentication:index' %}" method="get">
                                <select class="form-select me-2" name="source_language">
                                    <option value="" selected disabled>Select Language</option>
                                    <option value="English">English</option>
                                    <option value="Russian">Russian</option>
                                    <option value="Russian">German</option>
                                </select>
                                <select class="form-select me-2" name="target_language">
                                    <option value="" selected disabled>Select Language</option>
                                    <option value="English">English</option>
                                    <option value="Russian">Russian</option>
                                    <option value="Russian">German</option>
                                </select>
                                 <button class="btn btn-outline-success" type="submit">Search</button>

                          </form>
                    </div>
                  </li>
                  <li class="nav-item">
                      <div style="margin-left: 10px">
                         <a href="/"><button class="btn btn-primary">All dicts</button></a>
                      </div>
                  </li>
                  <li class="nav-item">
                      <div style="margin-left: 10px">
                         <a href="{% url 'dictionary:add_dict' %}"><button class="btn btn-primary">Add new</button></a>

                      </div>
                  </li>
              </ul>
                <a href="{% url 'authentication:profile' %}" class="nav-link active", style="margin-right: 1%">{{request.user.username}}</a>
              <form method="post">

                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Log Out</button>
              </form>
            </div>
          </div>
        </nav>
        <h1>Welcome, {{request.user.first_name}}</h1>
        <br>
        <ul class="list-group">
            {% for dictionary in dictionaries %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'dictionary:view_dict' dictionary.id %}">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">{{ dictionary.name}}</div>
                                {{dictionary.source_language}} -> {{dictionary.target_language}}

                        </div>
                        </a>
                         <a href="{% url 'dictionary:delete_dict' dictionary.id %}"><button class="btn btn-primary">Delete</button></a>

                    </li>
                <br>
            {% endfor %}
        </ul>
    </div>
 {% endblock %}