{% extends "authentication/base.html" %}

{% block head %}
    <title> Profile </title>
    <style>
        .container {
            /*display: flex;*/
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    </style>

{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Alex's main</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="container">
        <h1>Password is updated successfully!</h1>
        <p>You've changed your password. <a href="{% url 'authentication:profile' %}">Return to profile.</a>
        <p>
    </div>
{% endblock %}
