{% extends "authentication/base.html" %}

{% block head %}
    <title> Profile </title>
    <style>
        .container {
            display: flex;
            margin: 50px auto;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
    </style>

{% endblock %}

{% block body %}
    <div class="container">

        <form method="post">
            <h1 id="title">Recovering password</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <button type="submit" class="btn btn-primary">Send with email</button>
            </p>
        </form>
    </div>

{% endblock %}
