{% extends "authentication/base.html" %}

{% block head %}
    <title> Profile </title>
    <style>
        .container {
            text-align: center;
            justify-content: center;
            align-items: center;
        }
    </style>

{% endblock %}

{% block body %}
    <div class="container">
        <h1 id="title">Password changed</h1>
        <p>Congrats! We changed the password successfully. Use it for
            <a href="{% url 'authentication:login' %}">log into the system </a></p>
    </div>
{% endblock %}
