SECRET_KEY = 'secret_key'


# SMTP 
EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST='smtp.gmail.com'
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_HOST_USER='email.com'
EMAIL_HOST_PASSWORD='password'
DEFAULT_FROM_EMAIL=EMAIL_HOST_USER


DEBUG = "True"
