{% extends "dictionary/base.html" %}

{% block head %}
    <title>Dictionaries</title>
    {{ form.media.css }}
    <style>
        input, select {
            width: 50%;
        }

        select[name="words"] {
            width: 100%;
        }

    </style>


{% endblock %}


{% block body %}

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Alex's main</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <h1>Update dictionary</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br><br>
            <button class="btn btn-primary" type="submit">Update dictionary</button>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {{ form.media.js }}
    </div>

{% endblock %}