{% extends "dictionary/base.html" %}

{% block head %}
    <title>Dictionaries</title>
    <style>
        .btn-primary {
            margin-top: 10px;
        }
    </style>
{% endblock %}


 {% block body%}

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Alex's main</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
              </ul>
              <form class="d-flex" action="{% url 'dictionary:view_dict' dictionary.id %}" method="get">
                <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
        <div class="row">
            <div class="col">
                <h1>Dictionary: "{{dictionary.name}}"</h1>
            </div>
            <div class="col">
                <a href="{% url 'dictionary:view_dict' dictionary.id %}"><button class="btn btn-primary">All words</button></a>
            </div>

        </div>
        <h2>Description</h2>
        <p> {{dictionary.description}}</p>
        <ul class="list-group">
                {% for word in words %}
                    <a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'dictionary:view_dict' dictionary.id %}">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">{{word}}</div>
                                    {% for translation in word.translations.all %}
                                        {{translation.text}}
                                        {% if forloop.last %}
                                            {% if not word.translations.all %}
                                                .
                                            {% else %}
                                                .
                                            {% endif %}
                                        {% else %}
                                            ,
                                        {% endif %}
                                    {% endfor %}
                            </div>
                        </li>
                    </a><br>
                {% endfor %}
        </ul>
    </div>
 {% endblock %}